@import "variables";

body {
  background-image: url("/img/background.jpg");
  background-size: contain;
  background-repeat:round;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:
  transparentize($tertiary-color, .2);
  padding: 5%;
  margin-top: 15%;
  #search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    h1 {
      font-size: $font-size + .5em;
      text-align: center;
      letter-spacing: .3rem;
      font-family: $font;
      font-weight: 800;
    }
    input {
      margin-top: 3%;
      width: 300px;
      height: 60px;
      font-size: $font-size;
      color: $secondary-color;
      background-color: $primary-color;
      font-family: $font2;
    }
    button {
      background-color: $primary-color;
      border: 3px solid $secondary-color;
      border-radius: 5px;
      padding: 10px 30px;
      margin: 2% 0 6% 0;

      &:hover {
        background-color: $tertiary-color;
      }
    }
  }
  #output {
    text-align: center;
    @media screen and (min-width:700px) {
      text-align: left;
      margin-left: 3%;
    }
  }
  #repos-list {
    list-style: none;
    margin-left: 5%;
    font-family: $font2;
     li:nth-of-type(odd) {
      font-size: $font-size - .4em;
      text-transform: uppercase;
      margin-top: 2%;
      position: relative;
      &:hover + li:nth-of-type(even) {
        display: block;
        cursor: pointer;
      }
    }
    li:nth-of-type(even) {
      margin-left: 5%;
      font-size: $font-size - .5em;
      display: none;
      width: 500px;
      padding: 2%;
      border-radius: 5px;
      position: absolute;
      background-color: $primary-color;
      left: 700px;
      z-index: 9000;
    }
  }
}
